.home {
  width: 100% !important;
  height: 100vh !important;
  background: #36d1dc;
  background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
  background: linear-gradient(to right, #5b86e5, #36d1dc);
  grid-template-columns: 30% 70%;
  grid-template-areas: 'HEADER' 'BODY';
}
.header {
  grid-area: HEADER;
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.opciones {
  width: 60vw;
  display: flex;
  align-content: center;
}
.opcion {
  width: 15vw;
  padding: 1% 0 1% 0;
  border-radius: 20px;
}
.opcion:hover {
  background-color: #8088f0;
}
.opcion:active {
  background-color: #686fdb;
}
.body {
  grid-area: BODY;
  width: 100%;
  height: 60vh;
}
.lo {
  padding: 1% 2% 1% 1%;
  border-radius: 20px;
}
.lo:hover {
  background-color: #8088f0;
}
.lo:active {
  background-color: #686fdb;
}
label {
  width: 80px;
}
.logo {
  font-family: 'Paytone One', sans-serif;
  width: 15vw;
  padding-left: 5vw;
  text-align: left;
}

.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}
.pos {
  margin-bottom: 12px;
}
.img {
  z-index: -1;
}
